
<div class="content">
  <h1>Home</h1>
  <a routerLink="/about">About as</a>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorum suscipit a! Corrupti ipsa accusamus magni cumque sint? Temporibus consequatur quis voluptatem illum repudiandae. Eligendi sed fugiat quas voluptatibus saepe?</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorum suscipit a! Corrupti ipsa accusamus magni cumque sint? Temporibus consequatur quis voluptatem illum repudiandae. Eligendi sed fugiat quas voluptatibus saepe?</p>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorum suscipit a! Corrupti ipsa accusamus magni cumque sint? Temporibus consequatur quis voluptatem illum repudiandae. Eligendi sed fugiat quas voluptatibus saepe?</p>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorum suscipit a! Corrupti ipsa accusamus magni cumque sint? Temporibus consequatur quis voluptatem illum repudiandae. Eligendi sed fugiat quas voluptatibus saepe?</p>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique dolorum suscipit a! Corrupti ipsa accusamus magni cumque sint? Temporibus consequatur quis voluptatem illum repudiandae. Eligendi sed fugiat quas voluptatibus saepe?</p>
</div>

